<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>

  <connectionStrings>
    <add name="CarpetaLog"  connectionString="D:\SERV_PRESTASHOP\log.txt"/>
    <add name="CarpetaLogAlm"  connectionString="D:\SERV_PRESTASHOP\logAlm.txt"/>
    <add name="SQL_ECOM" connectionString="Server=POSPERUBD.BGR.PE;Database=BD_ECOMMERCE;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;"/>
    <!--add name="SQL_ECOM" connectionString="Server=172.19.7.169;Database=BD_ECOMMERCE;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;"/-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OnlineSOAP11Binding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="OnlineSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://200.121.128.110:8080/axis2/services/Online"
        binding="basicHttpBinding" bindingConfiguration="OnlineSOAP11Binding"
        contract="FEBata.OnlinePortType" name="OnlineSOAP11port_http" />
      <!--<endpoint address="http://200.121.128.110:8080/axis2/services/Online"
        binding="customBinding" bindingConfiguration="OnlineSOAP12Binding"
        contract="FEBata.OnlinePortType" name="OnlineSOAP12port_http" />-->
    </client>
  </system.serviceModel>
</configuration>
